PORT=5000
JWT_SECRET=change-me-to-a-random-string-please
DROPXL_API_BASE=https://b2b.dropxl.com/api
DROPXL_API_TOKEN=4cb2475b-1a27-48c5-9f1c-9daab3945dad
DB_PATH=./data/erp.db
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
